<div class="container text-center w-75">
    <div>
        <h4>Ingrese su email,<br>
y se enviara un enlace para actualizar la nueva contraseña</h4>
    </div>
    <div>
        <form id="passwordRecoveryForm" class="form-group w-100" action="" method="POST">
            <label for="email">Ingresa tu email</label>
            <input id="emailInput" type="email" name="email" placeholder="correo@email.com" class="form-control">
            <input type="submit" value="Enviar" class="btn btn-outline-dark w-100 mt-3">
        </form>
    </div>
</div>
